.splash, #splash, #my-splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 9999;
  overflow: hidden;
  pointer-events: none;
  color: #E0684B; /* Default Babylon Toolkit Soft Orange */
  background-color: #2A2342; /* Default Babylon Toolkit Base Purple */
  will-change: auto; /* Optimizes for potential UI animations in React overlay */
}
